/* Common css styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.section-greeting {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.section-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  border: none;
}
/* Banner section styles */

.banner {
  background-image: url("../images/Banner\ Image.png");
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.banner::after {
  content: " ";
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}
.banner-content {
  width: 70%;
}
.banner h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.banner h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* categories part styles */
#categories {
  margin: 40px 0;
}
#categories h1 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
  margin: 120px 0 48px 0;
}
#categories h2 {
  text-align: center;
}
#categories h4 {
  text-align: center;
}
.categories-img {
  width: 802px;
  height: 500px;
  margin: 0 auto;
  margin-top: 48px;
}

/* midnight part css styles */
.midnight {
  background-image: url("../images/Vectorrr.png");
  width: 1320px;
  height: 600px;
  margin: 120px 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 126px;
}
.midnight::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.midnight-content {
  width: 58%;
}
.midnight-content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;
  margin-bottom: 0;
}
.midnight-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0 48px 0;
}
.midnight-img {
  margin-left: 25px;
}
.midnight-img img {
  width: 319px;
  height: 464px;
}

/* hotel css styles */

#hotel {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 482px;
  margin-top: 60px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.05), white);
  text-align: center;
}
.hotel-content h5 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.hotel-content span {
  color: #f00;
}
.hotel-content button {
  margin-top: 48px;
}
/* new-best-offer css styles */
.new-best-offer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 98px;
  margin: 100px 0;
  padding: 0 10px;
}
.coming-soon {
  width: 33%;
  padding-top: 50px;
}
.coming-soon p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 22px;
}
.best-offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rebeccapurple;
  border-radius: 50%;
}
.best-offer-img img {
  border: 30px solid white;
  border-radius: 50%;
  width: 364.844px;
  height: 364.844px;
}
.new-years {
  width: 33%;
  padding-top: 50px;
}
.new-years h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.new-years p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 16px 0 43px 0;
}
.new-years img {
  width: 140px;
  height: 140px;
}

/* our-awesome-portfolio css styles */
.new-best-offer {
  margin: 140px 0;
}
.awesome-content {
  width: 60%;
  padding-left: 10px;
}
.awesome-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 22px 0 48px 0;
}

.awesome-portfolio-items {
  display: flex;
}

.awesome-portfolio-items-img img {
  width: 400px;
  height: 450px;
  margin-right: 34px;
  margin-bottom: 34px;
  border-radius: 25px;
  transition: 0.3s;
}

.awesome-portfolio-items-img img:hover {
  border: 3px solid rgb(149, 111, 186);
  box-shadow: 3px 3px 4px rgb(212, 209, 216);
}
/* Subscribe Newsletter css style */
#subscribe {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 616px;
  margin-top: 60px;
}
.subscribe-items {
  width: 60%;
  text-align: center;
}
.subscribe-items img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}
.subscribe-items h1 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.subscribe-items p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 22px 0 40px 0;
}
.subscribe-items input[type="email"] {
  color: rgba(7, 2, 17, 0.3);
  text-align: start;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 16px 32px;
  width: 400px;
  border: none;
  background: #fff;
  border-radius: 25px 0 0 25px;
}
.subscribe-btn {
  border-radius: 0 25px 25px 0;
}

/* footer section css style */

#main-footer {
  background-color: black;
  margin: 120px 0 0 0;
}
.footer-contract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 48px 10px;
}
.contract-adress {
  color: white;
}
.call,
.website {
  display: flex;
  color: white;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links img {
  width: 54px;
  height: 54px;
  margin: 48px 24px 48px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 48px 0 100px 10px;
}
