/* Common css styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.section-greeting {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.section-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}
/* Banner section styles */

.banner {
  background-image: url("../images/Banner\ Image.png");
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.banner::after {
  content: " ";
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}
.banner-contain {
  width: 70%;
}
.banner h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.banner h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* categories part styles */
#categories {
  margin: 40px 0;
}
#categories h1 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
  margin: 120px 0 48px 0;
}
.categories-img{
  width: 802px;
  height: 500px;
  margin: 0 auto;
  margin-top: 48px;
}